* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%; /* 1rem = 10px */
  }
  
  body .light{
    font-family: "Poppins", sans-serif;
    background: #f0f8ff;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }


/* Container Styles */
.container {
    text-align: center;
    padding: 2rem;
    border-radius: 1rem;
    background-color: white;
    box-shadow: 0rem 0.4rem 1rem rgba(0, 0, 0, 0.1);
    transition: background-color 0.5s ease, box-shadow 0.5s ease;
}

/* Button Styles */
.btn {
    padding: 1rem 2rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #3498db;
    color: white;
    font-size: 1.6rem;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out, transform 0.3s ease-in-out;
}

.btn:hover {
    background-color: #2980b9;
    transform: scale(1.06);
}
